.CarouselImage{
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    display: inline-block;
    width: 100%;
}
.carosuel{
    width: 100%;
    height: auto;
    overflow: hidden;
}