.CarouselImage{
    border-radius: 20px;
    cursor: pointer;
}

.bigcontainer{
    background-image: linear-gradient(to right, #FFF0CC,#FFF9E1);
    margin-top: 60px;
    margin-bottom: 60px;
    padding:20px;
    padding-top:30px;
    padding-bottom:50px;
}

.title{
    color:#000000d7;
    font-size:25px;
    margin-bottom: 20px;
}